<template name="check_request">
    <div class="container">
        <h2>Validate your POPR JSON request</h2>
        <form name="json-request" class="form">
            <div class="row">
                <div class="col-sm-12">
                    <textarea name="jsonValue" class="form-control" rows="15"></textarea>
                </div>
                <div class="col-sm-12">
                    <label>Secret key</label>
                    <input type="text" name="secret" class="form-control" placeholder="Enter the secret key to check the hashSignature">
                </div>
            <div class="row">
            </div>
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary form-control" type="submit">Check JSON</button>
                </div>
            </div>
        </form>
        {{#with getOutput}}
            <br/>
            <div class="info">
                {{#each this}}
                    <div class="alert-info">
                        {{this}}
                    </div>
                {{/each}}
            </div>
        {{/with}}
        {{#with getErrors}}
            <br/>
            <div class="errors">
                {{#each this}}
                    <div class="alert-danger">
                        {{this}}
                    </div>
                {{else}}
                    <i>No errors!</i>
                {{/each}}
            </div>
        {{else}}
            {{#if getOutput}}
                <br/>
                <div class="alert-success">
                    <i>No errors!</i>
                </div>
            {{/if}}
        {{/with}}
    </div>
</template>
