<template name="template_default">
    <div class="receipt">
        {{#if retailerOptions.showEstimatedRefund}}
            {{#unless revokedAt}}
                <div class="receipt-refund-estimate {{#unless getClaim 'vat-refund'}}pointer{{/unless}}">
                    <div class="title">VAT REFUND</div>
                    <div class="estimate"><span class="small">{{getCurrencySymbol currency}}</span> {{formatAmount getEstimatedRefund}}</div>
                    <div class="subtitle">your estimated tax-free refund</div>
                </div>
                {{#unless getClaim 'vat-refund'}}
                    <div class="receipt-refund-claim-now pointer">
                        <img src="/images/vatfree-small.svg" />
                        Click here to claim this refund now!
                    </div>
                {{/unless}}
            {{/unless}}
        {{/if}}
        <img src="{{#if logoImg}}{{logoImg}}{{else}}/images/logo.png{{/if}}" class="header"/>
        <div class="receipt-details">
            <table>
                <tr class="divider">
                    <td colspan="3">
                        Purchase date: {{getDate}}<br/>
                        Receipt nr: {{invoiceId}}
                    </td>
                </tr>
                {{#if revokedAt}}
                    <tr class="divider centered strong red">
                        <td colspan="3">ANNULLED</td>
                    </tr>
                {{/if}}
                {{#if lines}}
                    <tr class="line divider bottom-divider">
                        <td>Qty</td>
                        <td>Description</td>
                        <td>Amount</td>
                    </tr>
                    {{#each lines}}
                        <tr class="line">
                            <td>{{number}}</td>
                            <td><div class="description">{{description}}</div></td>
                            <td>{{formatAmount getLineTotal}}</td>
                        </tr>
                    {{/each}}
                    <tr class="line divider strong">
                        <td>{{getTotalNumber}}</td>
                        <td>Subtotal:</td>
                        <td>{{formatCurrency getTotalAmount currency}}</td>
                    </tr>
                {{else}}
                    <tr class="line divider strong">
                        <td>&nbsp;</td>
                        <td>Total:</td>
                        <td>{{formatCurrency totalValue currency}}</td>
                    </tr>
                {{/if}}
                <tr class="divider align-right tight small">
                    <td colspan="3">
                        <table>
                            <tr>
                                <td>VAT %</td>
                                <td>Incl VAT</td>
                                <td>Excl VAT</td>
                                <td>VAT</td>
                            </tr>
                            {{#each getVatTotals}}
                                <tr>
                                    <td>{{formatVat vat}}</td>
                                    <td>{{formatCurrency amount ../currency}}</td>
                                    <td>{{formatCurrency exVatAmount ../currency}}</td>
                                    <td>{{formatCurrency vatAmount ../currency}}</td>
                                </tr>
                            {{/each}}
                        </table>
                    </td>
                </tr>
                {{#if claims}}
                    <tr class="divider align-right tight small">
                        <td colspan="3">
                            <table>
                                <tr class="strong">
                                    <td>Claim</td>
                                    <td>Claimed at</td>
                                    <td>Claimed by</td>
                                </tr>
                                {{#each claims}}
                                    <tr>
                                        <td>{{claimType}}</td>
                                        <td>{{formatDate claimedAt}}</td>
                                        <td>{{getClaimer}}</td>
                                    </tr>
                                {{/each}}
                            </table>
                        </td>
                    </tr>
                {{/if}}
                <tr class="divider">
                    <td colspan="3"></td>
                </tr>
            </table>
            {{#unless revokedAt}}
                {{> vatfreeAppDownload }}
            {{/unless}}
        </div>
    </div>
</template>
