<head>
    <title>POPr receipt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
</body>

<template name="mainLayout">
    {{>Template.dynamic template=content}}
</template>

<template name="receipt">
    {{#if getLoading}}
        {{> loading }}
    {{else}}
        <div class="receipt-container">
            {{#with getReceipt}}
                {{> template_default }}
            {{else}}
                {{> notFound }}
            {{/with}}
        </div>
    {{/if}}
</template>

<template name="notFound">
    <div class="receipt-not-found">
        <div class="top">
            <h1>Oops!<br/>Something went wrong.</h1>
            <br/>
            We could not find the receipt in our database.<br/>
            <br/>
            Please try again...<br/>
        </div>
        <div class="middle">
            <img src="/images/logo.png" />
        </div>
        <div class="bottom">
            POPR is an innovative blockchain solution for e-receipting.<br/>
            <br/>
            Interested? <a href="mailto:info@popr.io">info@popr.io</a>
        </div>
    </div>
</template>

<template name="loading">
    <div class="loading">
        <img src="/images/loading.gif"/>
    </div>
</template>
