/* CSS declarations go here */
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-size: 12px;
}

.pointer {
    cursor: pointer;
}

.receipt-container {
    text-align: center;
    min-height: 100%;

    .receipt {
        margin-top: 25px;
        padding: 12px;
        width: 100%;
        max-width: 320px;
        border: 1px solid gray;
        display: inline-block;

        .header {
            width: 294px;
            padding: 4px;
        }

        .receipt-refund-estimate {
            background-color: #000;
            color: #fff;
            margin: -12px -12px 0 -12px;
            padding: 4px 12px;

            .title {
                font-size: 28px;
                font-weight: 100;
            }

            .estimate {
                font-size: 54px;
                font-weight: 100;
                line-height: 42px;

                .small {
                    font-weight: 100;
                    font-size: 60%;
                }
            }

            .subtitle {
                font-size: 12px;
                font-weight: 100;
            }

            @media print {
                display: none;
            }
        }

        .receipt-refund-claim-now {
            margin: 0 -12px 0 -12px;
            padding: 4px 12px;
            background-color: #e6007e;
            color: #fff;
            line-height: 20px;

            img {
                height: 20px;
                width: auto;
                margin-right: 4px;
            }

            @media print {
                display: none;
            }
        }

        .receipt-details {
            width: 100%;

            table {
                width: 100%;
                tr {
                    .description {
                        max-width: 190px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &.divider {
                        > td {
                            border-top: 1px solid gray;
                        }
                    }
                    &.bottom-divider {
                        > td {
                            border-bottom: 1px solid gray;
                        }
                    }

                    &.strong {
                        td {
                            font-weight: bold;
                        }
                    }

                    &.centered {
                        td {
                            text-align: center;
                        }
                    }

                    &.align-right {
                        td {
                            text-align: right;
                        }
                    }

                    &.tight {
                        td {
                            padding: 2px;
                        }
                    }

                    &.small {
                        td {
                            font-size: 11px;
                        }
                    }

                    &.red {
                        td {
                            color: #e00;
                        }
                    }

                    td {
                        padding: 5px 3px;
                        text-align: left;
                        vertical-align: top;
                    }

                    &.line {
                        td {
                            &:nth-child(1) {
                                text-align: right;
                            }
                            &:nth-child(2) {
                                text-align: left;
                            }
                            &:nth-child(3) {
                                text-align: right;
                            }
                        }
                    }
                }
            }

            .qr-code {
                margin: auto;
                width: 60%;
                position: relative;

                .popr-id {
                    position: absolute;
                    transform: rotate(-90deg);
                    transform-origin: bottom left;
                    bottom: 15px;
                    left: -4px;
                }

                canvas {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .vat-claim-form {
                img {
                    margin: 0 -28px;
                }
            }
        }
    }
}

.loading {
    width: 100%;
    margin: auto;
    text-align: center;

    img {
        width: 64px;
        height: 64px;

        max-width: 64px;
        max-height: 64px;
    }
}

.download-mobile-app {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 0 25px 0 25px;

    p {
        &.small {
            font-size: 60%;
        }
    }

    .mobile-image {
        text-align: center;
        img {
            width: 70%;
        }

        @media print {
            display: none;
        }
    }

    .mobile-app-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        margin-top: 12px;

        .mobile-app-apple {
            width: 45%;
            max-width: 140px;
            margin: 0 10px;

            img {
                width: 100%
            }
        }
        .mobile-app-android {
            width: 45%;
            max-width: 140px;
            margin: 0 10px;

            img {
                width: 100%
            }
        }

        @media print {
            display: none;
        }
    }
    .mobile-no-thanks {
        margin-top: 25px;
        cursor: pointer;
        font-size: 16px;

        color: #337ab7;
        text-decoration: none;
    }

    .logo {
        img {
            width: 80%
        }
    }
}

.receipt-not-found {
    text-align: center;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: Courier;
    padding: 16px;
    color: #777;

    h1 {
        font-size: 24px;
    }

    .top {
        flex-grow: 1;
    }

    .middle {
        flex-grow: 1;
        img {
            margin: 25px 0;
            width: 80%;
            max-width: 480px;
        }
    }

    .bottom {
        flex-grow: 1;
    }
}
