<template name="vatfreeAppDownload">
    <div class="download-mobile-app">
        {{#if showCopyReceipt}}
            <div class="qr-code">
                <span class="popr-id">{{_id}}</span>
                <canvas></canvas>
            </div>
        {{else}}
            <p>
                Download the vatfree.com app to claim your vat refund.
            </p>
            <p class="small">
                Refund can be claimed if requirements are met.
            </p>
        {{/if}}
        {{#if showCopyReceipt}}
            <div class="vat-claim-form">
                <img src="/images/popr-a.svg" />
                <div class="popr-code">{{_id}}</div>
                <img src="/images/popr-b.svg" />
            </div>
        {{else}}
            <div class="mobile-app-icons">
                <div class="mobile-app-apple">
                    <a href="https://itunes.apple.com/us/app/vatfree-com-tax-free-shopping-tax-free-in-the-eu/id1141738494?mt=8">
                        <img alt="App in the app store" src="/images/appstore-lrg.svg">
                    </a>
                </div>
                <div class="mobile-app-android">
                    <a href="https://play.google.com/store/apps/details?id=com.vatfreecomapp">
                        <img alt="Android app on Google Play" src="/images/get_it_on_google_play.svg">
                    </a>
                </div>
            </div>
            <div class="mobile-image">
                <img src="/images/iphone-vatfree.png">
            </div>
        {{/if}}
        {{#unless showCopyReceipt}}
            <div class="logo">
                <a href="https://www.vatfree.com/" target="_blank">
                    <img src="/images/vatfree@2x.png">
                </a>
            </div>
        {{/unless}}
    </div>
</template>
